[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/fzf.vim"]
	path = vim/vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/vim/bundle/incsearch.vim"]
	path = vim/vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/vim/bundle/tlib_vim"]
	path = vim/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim/bundle/vim-addon-mw-utils"]
	path = vim/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim/bundle/vim-argwrap"]
	path = vim/vim/bundle/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/vim-snipmate"]
	path = vim/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/zsh/zsh-autosuggestions"]
	path = zsh/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "fzf/fzf"]
	path = fzf/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim/bundle/nerdtree-git-plugin"]
	path = vim/vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim/bundle/repmo-vim"]
	path = vim/vim/bundle/repmo-vim
	url = https://github.com/Houl/repmo-vim.git
[submodule "vim/vim/bundle/vim-abolish"]
	path = vim/vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/spelunker.vim"]
	path = vim/vim/bundle/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim/bundle/markdown-preview.nvim"]
	path = vim/vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim/vim/bundle/vim-xkbswitch"]
	path = vim/vim/bundle/vim-xkbswitch
	url = https://github.com/lyokha/vim-xkbswitch.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-zoom"]
	path = vim/vim/bundle/vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom.git
[submodule "vim/vim/bundle/vim-signature"]
	path = vim/vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/vim/bundle/repeat"]
	path = vim/vim/bundle/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/vim/bundle/unimpaired"]
	path = vim/vim/bundle/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "vim/vim/bundle/commentary"]
	path = vim/vim/bundle/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/vim/bundle/vim-system-copy"]
	path = vim/vim/bundle/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "vim/vim/bundle/ReplaceWithRegister"]
	path = vim/vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "zsh/git-fuzzy"]
	path = zsh/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
